<div class="modal modal--close text-white">
  <div class="about">
    <div class="about-profile">
      <button style="background: none; border: none">
        <svg
          id="about-profile__close"
          viewBox="0 0 15 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Close</title>
          <path
            d="M8.98798 7.56128L14.528 13.1013V14.5613H13.068L7.52798 9.02128L1.98798 14.5613H0.527977V13.1013L6.06798 7.56128L0.527977 2.02128V0.561279H1.98798L7.52798 6.10128L13.068 0.561279H14.528V2.02128L8.98798 7.56128Z"
            fill="black"
          ></path>
        </svg>
      </button>
      <figure class="about-profile__img">
        <img src="../assets/images/logo.png" alt="Omar Rojas picture smiling" />
        <figcaption>Omar Rojas</figcaption>
      </figure>
      <ul class="about__list">
        <li class="about__item">
          <span class="about__subtitle">Educación</span>
          <p class="about-profile__info">
            Autodidacta por naturaleza, todo lo que he aprendido ha sido a
            través mis metodos de aprendizaje.
          </p>
        </li>
        <li class="about__item">
          <span class="about__subtitle">Idiomas</span>
          <div class="about-profile__languages">
            <figure class="about-profile__language">
              <img class="flag" src="../assets/images/logo.png" alt="Español" />
              <figure class="lang">Español</figure>
              <span class="level">Nativo</span>
            </figure>
            <figure class="about-profile__language">
              <img class="flag" src="../assets/images/logo.png" alt="Inglés" />
              <figure class="lang">Inglés</figure>
              <span class="level">Professional Proficiency (B2)</span>
            </figure>
          </div>
        </li>
        <li class="about__item">
          <span class="about__subtitle">Estado</span>
          <p class="about-profile__info">
            Estoy buscando nuevas oportunidades laborales.
            <a href="#/" class="remark">Contactame!</a>
          </p>
        </li>
      </ul>
      <a
        id="download-resume"
        href="dario-chic-resumen.pdf"
        value="download"
        target="_blank"
        rel="noreferrer"
        style="visibility: hidden"
        >Download CV</a
      ><button class="btn btn--about-profile" text="Resumen">Resumen</button>
      <div class="social about-profile__social">
        <a
          href="https://codepen.io/dario-chic"
          class="footer__link"
          target="_blank"
          rel="noreferrer"
          ><title>Codepen</title
          ><svg
            viewBox="0 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.528 2.56128L22.528 9.06128V16.0613L12.528 22.5613L2.52798 16.0613V9.06128L12.528 2.56128Z"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12.528 22.5613V16.0613"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M22.528 9.06128L12.528 16.0613L2.52798 9.06128"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M2.52798 16.0613L12.528 9.06128L22.528 16.0613"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12.528 2.56128V9.06128"
              stroke="black"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg></a
        ><a
          href="https://github.com/Dario-Chic"
          class="footer__link"
          target="_blank"
          rel="noreferrer"
          ><title>Github</title
          ><svg
            id="social--icon"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Github</title>
            <path
              class="git"
              d="M12 16.4996V13.5971C12.0281 13.2395 11.9798 12.8799 11.8583 12.5424C11.7367 12.2049 11.5447 11.8972 11.295 11.6396C13.65 11.3771 16.125 10.4846 16.125 6.38959C16.1248 5.34246 15.722 4.33549 15 3.57709C15.3419 2.66097 15.3177 1.64835 14.9325 0.749587C14.9325 0.749587 14.0475 0.487087 12 1.85959C10.281 1.3937 8.46899 1.3937 6.75 1.85959C4.7025 0.487087 3.8175 0.749587 3.8175 0.749587C3.43228 1.64835 3.40811 2.66097 3.75 3.57709C3.0226 4.34111 2.61939 5.35718 2.625 6.41209C2.625 10.4771 5.1 11.3696 7.455 11.6621C7.20825 11.9171 7.01795 12.2211 6.89648 12.5545C6.77502 12.8879 6.72511 13.2431 6.75 13.5971V16.4996M6.75 14.2496C3 15.3746 3 12.3746 1.5 11.9996L6.75 14.2496Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg></a
        ><a
          href="https://www.linkedin.com/in/dario-chic-11a22a228/"
          class="footer__link"
          target="_blank"
          rel="noreferrer"
          ><title>Linkedin</title
          ><svg
            id="social--icon"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 6C13.1935 6 14.3381 6.47411 15.182 7.31802C16.0259 8.16193 16.5 9.30653 16.5 10.5V15.75H13.5V10.5C13.5 10.1022 13.342 9.72064 13.0607 9.43934C12.7794 9.15804 12.3978 9 12 9C11.6022 9 11.2206 9.15804 10.9393 9.43934C10.658 9.72064 10.5 10.1022 10.5 10.5V15.75H7.5V10.5C7.5 9.30653 7.97411 8.16193 8.81802 7.31802C9.66193 6.47411 10.8065 6 12 6V6Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M4.5 6.75H1.5V15.75H4.5V6.75Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 4.5C3.82843 4.5 4.5 3.82843 4.5 3C4.5 2.17157 3.82843 1.5 3 1.5C2.17157 1.5 1.5 2.17157 1.5 3C1.5 3.82843 2.17157 4.5 3 4.5Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg></a
        ><a
          href="https://www.instagram.com/dario_chic/"
          class="footer__link"
          target="_blank"
          rel="noreferrer"
          ><title>Instagram</title
          ><svg
            id="social--icon"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.75 1.5H5.25C3.17893 1.5 1.5 3.17893 1.5 5.25V12.75C1.5 14.8211 3.17893 16.5 5.25 16.5H12.75C14.8211 16.5 16.5 14.8211 16.5 12.75V5.25C16.5 3.17893 14.8211 1.5 12.75 1.5Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12 8.52748C12.0926 9.15167 11.9859 9.78914 11.6953 10.3492C11.4047 10.9093 10.9449 11.3635 10.3812 11.6472C9.81757 11.9309 9.17883 12.0297 8.55583 11.9294C7.93284 11.8292 7.35731 11.535 6.91112 11.0889C6.46493 10.6427 6.17079 10.0671 6.07054 9.44414C5.9703 8.82115 6.06904 8.1824 6.35274 7.61876C6.63643 7.05512 7.09063 6.59529 7.65073 6.30466C8.21083 6.01404 8.84831 5.90742 9.47249 5.99998C10.1092 6.0944 10.6986 6.39108 11.1538 6.84621C11.6089 7.30134 11.9056 7.89079 12 8.52748Z"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13.125 4.875H13.1333"
              stroke="white"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path></svg></a
        ><a
          href="https://twitter.com/dariochic"
          class="footer__link"
          target="_blank"
          rel="noreferrer"
          ><title>Twitter</title
          ><svg
            id="social--icon"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Twitter</title>
            <path
              d="M17.25 2.24973C16.5318 2.75634 15.7366 3.14381 14.895 3.39723C14.4433 2.87786 13.843 2.50975 13.1753 2.34267C12.5076 2.1756 11.8046 2.21763 11.1616 2.46307C10.5185 2.70851 9.96633 3.14553 9.57974 3.71502C9.19314 4.2845 8.99077 4.95898 9 5.64723V6.39723C7.68198 6.43141 6.37596 6.13909 5.19826 5.54631C4.02056 4.95354 3.00774 4.07871 2.25 2.99973C2.25 2.99973 -0.75 9.74973 6 12.7497C4.4554 13.7982 2.61537 14.3239 0.75 14.2497C7.5 17.9997 15.75 14.2497 15.75 5.62473C15.7493 5.41582 15.7292 5.20743 15.69 5.00223C16.4555 4.24735 16.9956 3.29426 17.25 2.24973V2.24973Z"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <nav class="about-nav">
      <a class="about-nav__link active" href="description">Sobre mi</a
      ><a class="about-nav__link false" href="experience">Experiencia</a
      ><a class="about-nav__link false" href="skills">Habilidades</a
      ><a class="about-nav__link false" href="hobbies">Hobbies</a>
    </nav>
    <div class="about-info">
      <div class="about-info__description">
        <h3 class="about-info__title">Sobre mí</h3>
        <p class="about-info__text">
          Hola! Mi nombre es Dario Chic, soy un desarrollador de software
          Venezolano de 20 años que diseña y codifica
          <span class="remark2">asombrosas experiencias digitales</span>. Soy
          una persona curiosa, <span class="remark2">creativa,</span>
          <span class="remark2">apasionada</span> e
          <span class="remark2">innovadora</span> que sueña con crear productos
          útiles y de calidad a través de la tecnología, productos que tengan un
          impacto positivo en la vida de la personas. Tambien me encanta
          <span class="remark2">ayudar</span> y
          <span class="remark2">enseñar</span> a las personas, esto junto a mi
          creatividad y mis ganas de crear e innovar me hicieron desarrollar una
          mentalidad <span class="remark2">emprendedora</span>, la cual me llevo
          a fundar
          <a
            href="https://www.minglesc.com/"
            class="remark"
            target="_blank"
            rel="noreferrer"
            >minglesc.com</a
          >, una comunidad latinoamericana para aprender y mejorar el inglés y
          así conseguir mejores oportunidades en la vida.
        </p>

        <h3 class="about-info__title">Perfil</h3>
        Desarollador Web buscando una empresa a la cual aportarle mis
        habilidades para hacerla <span class="remark2">crecer</span> y
        <span class="remark2">mejorar</span> junto a ella. Muy
        <span class="remark2">responsable</span>,
        <span class="remark2">trabajador</span> y con una pasión innata por
        aprender y crecer. También una persona
        <span class="remark2">leal</span> y
        <span class="remark2">dedicada dispuesta a darlo todo</span> por obtener
        los mejores resultados para su equipo.

        <span class="remark2">Autodidacta</span> por naturaleza que se toma su
        educación muy en serio y siempre busca obtener los resultados más
        <span class="remark2">profesionales</span> posibles. Habilidad que
        considero muy importante en un mundo tan cambiante donde siempre surgen
        nuevas tecnologías hay que tener una
        <span class="remark2">buena capacidad de aprendizaje</span> y
        <span class="remark2">adaptación</span>. Lo que más me encanta del
        desarrollo de software es el mar de posibilidades para crear cosas
        asombrosas, pero sobre todo de utilidad y que causen un impacto positivo
        en la vida de las personas. Mi trabajo es ideal es aquel donde pueda
        <span class="remark2">hacer una diferencia</span>.

        <span class="remark nobold"
          >Si te interesa conocer un poco mas sobre mí o tan solo preguntarme
          algo (lo que sea), puedes escribirme a algunas de mis redes sociales,
          siempre estoy dispuesto a conocer y conversar con nuevas personas
          😉.</span
        >
      </div>
    </div>
  </div>
</div>
