<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>

<div id="__next">
  <app-loader
    (onQuitarHidden)="quitarHidden($event)"
    class="loader"
    *ngIf="onGame"
  ></app-loader>
  <app-nav class="nav"></app-nav>
  <!-- (onQuitarHidden)="quitarHidden($event)"  -->
  <!-- <app-game *ngIf="onGame"></app-game> -->

  <app-header class="header"></app-header>
  <app-main class="main" [ngClass]="class"></app-main>
  <app-section-about class="modal"></app-section-about>
</div>
