<!--section class aos-animate-->
<section
  class="section contact aos-init"
  id="contact"
  data-aos="fade-down"
  data-aos-duration="1000"
  data-aos-delay="300"
  data-aos-once="true"
>
  <h3 class="contact__subtitle">
    <svg
      id="section__icon"
      viewBox="0 0 22 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.605957 18.2329L21.606 9.23291L0.605957 0.23291V7.23291L15.606 9.23291L0.605957 11.2329V18.2329Z"
        fill="white"
      ></path></svg
    >¿Ahora qué?
  </h3>
  <h2 class="contact__title">Contactame</h2>
  <h5>No pierdas clientes, ¡hagámos su sitio web!</h5>
  <p class="contact__description">
    Gracias por llegar hasta aquí. Te invito a escribirme sin ningún compromiso.
    ¡Despejemos dudas, <span class="remark">Contactame!</span>
  </p>
  <a href="mailto:orojas3095@gmail.com" target="_blank" rel="noreferrer"
    ><button text="Enviar Correo" class="btn btn--contact">
      Enviar Correo
    </button></a
  >
</section>
