<section class="section section--playground" id="playground">
  <div
    id="section__info"
    class="section__info--playground aos-init aos-animate"
    data-aos="fade-right"
    data-aos-once="true"
    data-aos-duration="700"
  >
    <svg
      id="section__icon"
      xmlns="http://www.w3.org/2000/svg"
      width="26"
      height="26"
      viewBox="0 0 24 24"
    >
      <path
        d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 19V7h16l.002 12H4z"
      />
      <path
        d="M9.293 9.293 5.586 13l3.707 3.707 1.414-1.414L8.414 13l2.293-2.293zm5.414 0-1.414 1.414L15.586 13l-2.293 2.293 1.414 1.414L18.414 13z"
      />
    </svg>
    <h2 class="section__title section__title--playground">Servicios</h2>
    <span class="section__line"></span>
  </div>
  <p
    class="service-description project__description text-center aos-init aos-animate"
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-delay="500"
  >
    <strong>
      ¡Olvídate de depender de la persona que desarrolló su sitio web para hacer
      cambios!</strong
    >
    Mediante un gestor de contenidos, también conocido como CMS, desarrollado
    especialmente para su proyecto, obtendrá mejores resultados, además de ser
    completamente amigable, es decir, que puede usarlo sin complicación alguna.
  </p>
  <div class="container-service row">
    <!-- data-aos="fade-right" -->
    <div
      class="col-xs-12 col-sm-4 aos-init aos-animate"
      data-aos="fade-right"
      data-aos-duration="700"
      data-aos-delay="500"
    >
      <div class="left text-left pr-28">
        <div class="feature text-center">
          <!-- <div class="icon desing-web"></div> -->
          <div class="icon-background">
            <img
              class="icon desing-web"
              src="../assets/images/services-icons/01-responsive.png"
              alt=""
            />
          </div>

          <h5>Diseño Web y Móvil</h5>
          <p>
            Con nuestra última tecnología y responsive design, logramos que tu
            sitio llegue a más potenciales clientes al adaptarse a todas las
            plataformas. ¡No pierdas la oportunidad de aumentar tu alcance!
          </p>
        </div>

        <div class="feature text-center">
          <!-- <div class="icon hosting"></div> -->
          <div class="icon-background">
            <img
              class="icon"
              src="../assets/images/services-icons/02-datos.png"
              alt=""
            />
          </div>
          <h5>Alojamiento Web y Correos</h5>
          <p>
            <!-- Elige tu plataforma de hosting favorita y en función del lenguage de
            programación que utilices en tu sitio o aplicación web. Tendrás una
            versión de tu sitio web adaptada a todos los dispositivos móviles en
            forma simple. Usa Bases de Datos como MySQL o SQLServer. -->
            Elige tu plataforma de hosting favorito y en función del lenguaje de
            programación que uses en tu sitio web. Usamos bases de datos como
            MySQL o SQLServer para garantizar un servicio de calidad.
          </p>
        </div>
      </div>
    </div>
    <div
      class="service-img col-xs-12 col-sm-4 aos-init aos-animate"
      data-aos="zoom-in"
      data-aos-duration="900"
      data-aos-delay="500"
    >
      <img
        src="../assets/images/imagen-servicios3.png"
        alt="Omar Rojas servicios desarrollador web"
      />
    </div>
    <div
      class="col-xs-12 col-sm-4 aos-init aos-animate"
      data-aos="fade-right"
      data-aos-duration="1100"
      data-aos-delay="500"
    >
      <div class="right text-right pr-28">
        <div class="feature feature-right text-center">
          <!-- <div class="icon programacion"></div> -->
          <div class="icon-background">
            <img
              class="icon developer"
              src="../assets/images/services-icons/03-developer.png"
              alt=""
            />
          </div>
          <h5>Programador Web</h5>
          <p>
            Desarrollamos la maqueta web para darle "vida", para luego darle
            funcionalidad. Programación HTML, XHTML, CSS, Javascript,
            TypeScript, Angular, React, Java, Spring. Bases de Datos: SQL
            Server, MySQL, PostgreSQL.
          </p>
        </div>
        <div class="feature feature-right text-center">
          <!-- <div class="icon e-commerce"></div> -->
          <div class="icon-background">
            <img
              class="icon"
              src="../assets/images/services-icons/04-shopping.png"
              alt=""
            />
          </div>
          <h5>E-commerce</h5>
          <p>
            Ofrecemos servicios de posicionamiento SEO y desarrollo de
            E-Commerce para mejorar la experiencia de compra de tus clientes y
            garantizar que realicen sus compras con facilidad y seguridad en tu
            sitio web.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
